.myTable{
  border-collapse:inherit;
}
.myTable tr td{
  padding: 2px;
  vertical-align: top;
}
.myTable tr:hover{
  background-color: #8FCD98;
}
.myTable tr:nth-child(odd) {
  background-color: #fff;
}
.myTable tr:nth-child(even) {
  background-color: #29CD3F;
}
