/*topbar use
<ul>
<li><a></a></li>
</ul>
*/
.topBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topBar li {
    width: 20%;
    min-width: 100px;
    float: left;
}

.topBar label {
  color: #99FF99;
}

.topBar li .barItem {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topBar li .barItem:hover:not(.active) {
    background-color: #111;
}
.topBar .active {
    background-color: #4CAF50;
}
